
/* 微信内容的样式 */
boby{
	overflow-x:hidden ;
	overflow-y:hidden;
}
.main{
    width: 100%;
    height: 100%;
}
.main_inner {
    max-width: 1000px;
    min-width: 800px;
    height: 100%;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;
}
.panel {
    position: relative;
    width: 280px;
    height: 100%;
    float: left;
    background: #ffffff;
    border: 1px solid #d7d7d7;
}
/* 搜索框 */
img{
    width: 100%;
    height: 100%;
}
.search_bar {
    position: relative;
    width: 244px;
    margin: 0 auto 6px;
    padding: 15px;
}
.search_bar img{
    width: 12px;
    height: 12px;
    position: absolute;
    z-index: 101;
    top: 26px;
    left: 25px;
}
.search_bar .web_wechat_search {
    position: absolute;
    z-index: 101;
    top: 1px;
}
.web_wechat_search {
    background: url(//res.wx.qq.com/a/wx_fed/webwx/res/static/css/5af37c4…@1x.png) no-repeat;
    background-position: -60px -432px;
    -webkit-background-size: 487px 462px;
    background-size: 487px 462px;
}
.web_wechat_search {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}
.search_bar .frm_search {
    width: 214px;
    height: 32px;
    border-radius: 4px;
    line-height: 32px;
    border: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #f4f5f9;
    color: #999999;
    padding-left: 30px;
    font-size: 12px;
}
/* 下拉框样式 */
#nav{
    border-top: 1px solid #f4f5f9;
    border-bottom: 1px solid #f4f5f9;
    background: #ffffff;
    color: #666666;
}
#nav #layui-nav-item a:hover {
    background: #ffffff;
}
#layui-nav-item a{
    color: #666666;
}
#layui-nav-item  .layui-nav-more{
    border-top-color: #a8aaaf;
}
#nav .layui-nav-bar {
    background-color: #ffffff;
}
/* 全部用户下的子级 */
.dark-color{
   background: #d7d7d7;
}
.albedo{
    background: #ffffff;
}

/* 微信聊天区域 */
.box {
    position: relative;
    background-color: #eee;
    height: 100%;
    overflow: hidden;
   
}

 .box_bd {
    bottom: 180px;
    padding: 0 19px;
    overflow-y: auto;
    overflow-x: hidden;
}
.scroll-wrapper {
    overflow: hidden!important;
    padding: 0!important;
    position: relative;
}
.box_bd {
    position: absolute;
    top: 51px;
    right: 0;
    bottom: 0;
    left: 0;
}
 .box_bd {
    bottom: 180px;
    padding: 0 19px;
    overflow-y: auto;
    overflow-x: hidden;
}
.scroll-wrapper>.scroll-content {
    border: none!important;
    box-sizing: content-box!important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none!important;
    max-width: none!important;
    position: relative!important;
    top: 0;
    width: auto!important;
}
.scroll-wrapper>.scroll-content::-webkit-scrollbar {
    display: none; 
}
/* //IE 10+,//Firefox */
.scroll-wrapper>.scroll-content {
    -ms-overflow-style: none; 
    overflow: -moz-scrollbars-none; 
}
.box_bd {
    position: absolute;
    top: 51px;
    right: 0;
    bottom: 0;
    left: 0;
}
/* 系统消息样式 */
.message.me {
    float: right;
    text-align: right;
    clear: right;
}
.message {
    margin-bottom: 16px;
    float: left;
    width: 100%;
}
.message_system {
    text-align: center;
    margin: 10px auto;
    max-width: 50%;
}
.message.me .content {
    overflow: hidden;
}
.message_system .content {
    display: inline-block;
    font-size: 12px;
    padding: 1px 18px;
    color: #b2b2b2;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.message.me .avatar {
    float: right;
}
.message.me .content {
    overflow: hidden;
}
.bubble.bubble_primary {
    background-color: #b2e281;
}
.bubble {
    max-width: 500px;
    min-height: 1em;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    font-size: 14px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 0 10px;
}
.bubble_cont {
    word-wrap: break-word;
    word-break: break-all;
    min-height: 25px;
}
.bubble_cont .plain {
    padding: 9px 13px;
}
pre {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    white-space: pre-wrap;
    word-break: normal;
}
.bubble_cont .plain .ico_loading {
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -7px;
    margin-right: 13px;
}
.bubble_cont img {
    vertical-align: middle;
}
.bubble_cont .plain .ico_fail {
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -11px;
    margin-right: 9px;
    cursor: pointer;
}
.web_wechat_message_fail {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    background: url(//res.wx.qq.com/a/wx_fed/webwx/res/static/css/5af37c4…@1x.png) no-repeat;
    background-position: -289px -432px;
    -webkit-background-size: 487px 462px;
    background-size: 487px 462px;
}
.web_wechat_message_fail {
    background: url(//res.wx.qq.com/a/wx_fed/webwx/res/static/img/1OvE4o2.png) 0 -1270px;
}

/* 对方发送消息的样式 */
body, dd, dl, fieldset, h1, h2, h3, h4, h5, h6, ol, p, textarea, ul {
    margin: 0;
}
.message {
    margin-bottom: 16px;
    float: left;
    width: 100%;
}
.message .avatar {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    float: left;
    cursor: pointer;
}
.message .content {
    overflow: hidden;
}
.message .nickname {
    font-weight: 400;
    padding-left: 10px;
    font-size: 12px;
    height: 22px;
    line-height: 24px;
    color: #4f4f4f;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.bubble.bubble_default {
    background-color: #fff;
}
.bubble {
    max-width: 500px;
    min-height: 1em;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    font-size: 14px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 0 10px;
}
.bubble_cont {
    word-wrap: break-word;
    word-break: break-all;
    min-height: 25px;
}
.bubble_cont .plain {
    padding: 9px 13px;
}
pre {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    white-space: pre-wrap;
    word-break: normal;
}
pre, xmp, plaintext, listing {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}
.bubble_cont .plain .ico_loading {
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -7px;
    margin-right: 13px;
}
.bubble_cont img {
    vertical-align: middle;
}
.bubble_cont .plain .ico_fail {
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -11px;
    margin-right: 9px;
    cursor: pointer;
}
.web_wechat_message_fail {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    background: url(//res.wx.qq.com/a/wx_fed/webwx/res/static/css/5af37c4…@1x.png) no-repeat;
    background-position: -289px -432px;
    -webkit-background-size: 487px 462px;
    background-size: 487px 462px;
}

/* 发送消息的框 */
.box_ft {
    position: fixed;
    bottom: 45px;
    left: 482px;
    height: 180px;
    width: 700px;
    border-top: 1px solid #d6d6d6;
    background: #eee;
}
.box_ft .toolbar {
    height: 30px;
    padding: 5px 17px;
}
img{
    width: 100%;
    height: 100%;
}
.web_wechat_face {
    width: 30px;
    height: 30px;
}
.web_wechat_face img{
    width: 16px;
    height: 16px;
}
.web_wechat_down_icon, .web_wechat_face {
    display: inline-block;
    vertical-align: middle;
}
a, button, input, textarea {
    outline: 0;
}
/*截屏样式*/
.web_wechat_screencut, .web_wechat_search {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-top: -15px;
}
.web_wechat_screencut img {
    width: 16px;
    height: 16px;
    
}
.web_wechat_pic, .web_wechat_profile_loc {
    display: inline-block;
    vertical-align: middle;
}
.web_wechat_pic {
    width: 16px;
    height: 16px;
    margin-left: 15px;
    margin-top: -15px;
}
.web_wechat_pic img{
	width: 16px;
    height: 16px;
}
.webuploader-container {
    position: relative;
}
.webuploader-pick {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    filter: alpha(opacity = 0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    overflow: hidden;
}
.webuploader-element-invisible {
    position: absolute;
    clip: rect(1px,1px,1px,1px);
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
fieldset, input, legend, textarea {
    padding: 0;
}
a, button, input, textarea {
    outline: 0;
}
.box_ft .content .flex {
    height: 6em;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 20px;
    outline: none;
    border: 0;
    font-size: 14px;
}
pre {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    white-space: pre-wrap;
    word-break: normal;
}
.box_ft .caret_pos_helper {
    position: absolute;
    filter: alpha(opacity = 0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    white-space: pre;
}
.box_ft .action {
    text-align: right;
    margin-top: 5px;
}
.box_ft .desc {
    display: inline-block;
    width: 88px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 7px;
    background: #1abc9c;
}
.box_ft .action {
    text-align: right;
    margin-top: 5px;
}
a.btn {
    text-decoration: none;
}
.btn_send {
    background-color: #fff;
    color: #222;
    padding-left: 30px;
    padding-right: 30px;
}
.btn {
    display: inline-block;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 3px 20px;
    font-size: 14px;
}
/* 素材 */
.matter-div{
    width: 100%;
    height:0 auto;
    position: absolute;
    margin-left: 1000px;
    z-index: 10;
}
.matter-case{
    width: 405px;
    height: 37px;
    line-height:37px;
    text-align: center;
    background: #ffffff;
    color: #666666;
    font-size: 18px;
}
.matter-cases{
    width: 391px;
    height: 37px;
    padding-left: 14px;
    line-height: 50px;
    background: #ebecf0;
    color: #666666;
    font-size: 16px; 
}
.allGoods_list {
    width: 100%;
    height: auto;
   
}
.allGoods_list ul {
    width: 405px;
    height: 100%;
    overflow: hidden;
    padding: 4px 0;
    background: #ebecf0;
}
.allGoods_list ul li{
    float: left;
    margin-left: 14px;  
}
.allGoods_list ul .product {
    width:116px;
    height: 116px;
}
.allGoods_list ul .products{
    width:116px;
    height: 230px;
}
.allGoods_list ul .products .allGoods_imgs img{
    width:116px;
    height: 230px;
}
.allGoods_list ul li img {
    width: 100%;
    height: 100%;
}